{% extends "base.html" %}
    {% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-4 bg-color-personal-info section-column">
                <div class="row">
                    <div class="col-12">
                        <h3 class="section-heading uppercase">
                            Personal info
                        </h3>
                    </div>
                </div>
                <div class="personal-info-item">
                    <div class="key">
                        <p class="uppercase">
                            Name:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            Rosie Odenkirk
                        </p>
                    </div>
                </div>
                <div class="personal-info-item">
                    <div class="key">
                        <p class="uppercase">
                            Address:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            17 Riverdale, Catskills, NY USA
                        </p>
                    </div>
                </div>
                <div class="personal-info-item">
                    <div class="key">
                        <p class="uppercase">
                            Phone:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            555 854 1241
                        </p>
                    </div>
                </div>
                <div class="personal-info-item">
                    <div class="key">
                        <p class="uppercase">
                            Email:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            rosie.odenkirk@hansow.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 bg-color-three-reasons section-column">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading uppercase">About Me</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="three-reasons-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="three-reasons-heading uppercase">What do I do?</h4>
                                <p>
                                    I am a student of Full Stack Software Development with a rich imagination that I use in my projects
                                </p>
                            </div>
                        </div>
                    </div>   
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="three-reasons-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="three-reasons-heading uppercase">How do I do it?</h4>
                                <p>
                                    Follow the instructions and I put my designs into action for the best user experience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="three-reasons-icon fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="three-reasons-heading uppercase">Why hire me?</h4>
                                <p>
                                I work quickly and efficiently with great commitment to new and current projects. 
                                A self-confident enthusiast who pays attention to details, fully fulfills the assigned group and individual tasks. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    {% endblock %}
    